# Ignore all h5ad files
*.h5ad
*.parquet
*.h5

# Ignore network files
backend/networks

# Ignore renv folder
backend/calc_R_scores/renv
# Ignore R environment files
backend/calc_R_scores/.Rproj.user
backend/calc_R_scores/.Rhistory
backend/calc_R_scores/.Rprofile
backend/calc_R_scores/.RData*

backend/results/*

.Rproj.user

settings.json

.DS_Store
backend/.DS_Store

# Python Cache
__pycache__/
*.py[cod]

backend/datasets_scores/*
frontend/uploads/*

rindler.h5ad

backend/data/
.RData
.Rhistory


# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
dist
tmp
out-tsc
bazel-out

# Node
node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
.angular/cache
.sass-cache/
connect.lock
coverage
libpeerconnection.log
testem.log
typings
.angular

# System files
.DS_Store
Thumbs.db


# apptainer files
my-container.sif
my-custom-image.tar
apptainer_prompt.txt
overlay.img
