# Ignore all h5ad files
*.h5ad


# Ignore network files
backend/scores/networks

# Ignore renv folder
backend/scores/gene_set_ES/renv
# Ignore R environment files
backend/scores/gene_set_ES/.Rproj.user
backend/scores/gene_set_ES/.Rhistory
backend/scores/gene_set_ES/.Rprofile
backend/scores/gene_set_ES/.RData*

