<div class="table-container upload-style">
  <div *ngIf="!hasData()" class="empty-message">
    {{ emptyMessage }}
  </div>

  <div *ngIf="hasData()" class="table-scroll">

    <table class="ftable">
      <thead>
        <tr>
          <th class="index-col" *ngIf="showIndexColumn" (click)="toggleSort('index')"
            [matTooltip]="infoService.getColumnInfo(indexColumnLabel) || infoService.getColumnInfo('index') || ''"
            matTooltipPosition="above">
            <div class="th-content">
              <span class="col-title">{{ indexColumnLabel }}</span>
              <input class="input header-search-input" [(ngModel)]="filters['index']" placeholder="Filter..." (click)="$event.stopPropagation()" />
              <mat-icon class="sort-icon" *ngIf="sortState.column === 'index'">
                {{ sortState.asc ? 'arrow_upward' : 'arrow_downward' }}
              </mat-icon>
            </div>
          </th>

          <th *ngFor="let col of columns" class="other-col" (click)="toggleSort(col)"
            [matTooltip]="infoService.getColumnInfo(col) || ''"
            matTooltipPosition="above">
            <div class="th-content">
              <span class="col-title">{{ col | translate | async }}</span>
              <input *ngIf="isSearchableColumn(col)" class="input header-search-input" [(ngModel)]="filters[col]" placeholder="Filter..." (click)="$event.stopPropagation()" />
              <mat-icon class="sort-icon" *ngIf="sortState.column === col">
                {{ sortState.asc ? 'arrow_upward' : 'arrow_downward' }}
              </mat-icon>
            </div>
          </th>

          <th *ngFor="let action of availableActionColumns" class="action-col">
            {{ action === 'show_on_plot' ? 'Show on plot' : (action | translate | async) }}
          </th>
        </tr>
      </thead>

      <!-- <tbody>
        <tr *ngFor="let row of pagedRows">
          <td class="index-col">{{ truncateMiddle(row.index) }}</td>

          <td *ngFor="let col of columns" class="other-col">
            {{ displayNumeric(row[col]) }}
          </td>

          <td *ngFor="let action of actionColumns" class="action-col"> -->
            <!-- Checkbox column -->
            <!-- <ng-container *ngIf="action === 'Sum_chromvar_spot_scores'; else showBtn">
              <input
                type="checkbox"
                [checked]="isSumSelected(row)"
                (change)="toggleSumMotif(row, $any($event.target).checked)" />
            </ng-container> -->

            <!-- Show button column -->
            <!-- <ng-template #showBtn>
              <button
                class="btn btn-pill"
                (click)="fetchAndUpdate(action, action === 'chromvar_spot_scores' ? row.motif_id : row.index)">
                Show
              </button>
            </ng-template>
          </td>
        </tr>
      </tbody> -->
      <tbody>
        <tr *ngFor="let row of pagedRows">
          <td class="index-col" *ngIf="showIndexColumn" [title]="indexTitle(row.index)">{{ displayIndex(row.index) }}</td>

          <td *ngFor="let col of columns" class="other-col">
            {{ displayNumeric(row[col]) }}
          </td>

          <td *ngFor="let action of availableActionColumns" class="action-col">
            <!-- ChromVAR: Show button + checkbox for summing -->
            <ng-container *ngIf="action === 'chromvar_spot_scores'; else showBtn">
              <button class="btn btn-pill" (click)="onShowAction(action, row)">Show</button>
              <input
                type="checkbox"
                [checked]="isSumSelected(row)"
                (change)="toggleSumMotif(row, $any($event.target).checked)"
                title="Add to sum" />
            </ng-container>

            <!-- Other action columns: row-level Show button -->
            <ng-template #showBtn>
              <button class="btn btn-pill" (click)="onShowAction(action, row)">
                Show
              </button>
            </ng-template>
          </td>
        </tr>
      </tbody>


    </table>
  </div>
</div>
<br />

<!-- Pagination controls -->
<div *ngIf="hasData()" class="pagination">
  <button class="btn btn-pill" (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1">
    Prev
  </button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button class="btn btn-pill" (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages">
    Next
  </button>
</div>
