.back-btn, .back-link {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  background-color: #c9d6ff;
  box-shadow: 0 2px 8px rgba(44, 62, 80, 0.07);
  border: #000000;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: color 0.2s;
}
