<div class="info-page">
  <header>
    <img src="assets/info/logo.png" alt="MOPITAS Logo" />

  </header>

  <h2>Overview</h2>
  <div class="overview-container">
    <div class="overview-box">
      <img src="assets/info/upload-flow.png" alt="Upload Workflow" class="overview-img" />
    </div>
    <div class="overview-box">
      <img src="assets/info/overview.png" alt="Overview" class="overview-img" />
    </div>
  </div>
  <br>

  <section class="card">
    <h2>Format Requirements</h2>
    <p>
      The web-tool is working with the <code>anndata</code>-format. This is a tutorial on how counts and scores should
      be saved.
    </p>

    <h3>Counts</h3>
    <ul>
      <li><strong>Counts</strong>
        <ul>
          <li>Stored in <code>anndata.X</code></li>
        </ul>
      </li>
    </ul>

    <h3>Observations (per Spot)</h3>
    <ul>
      <li>Stored in <code>anndata.obs</code> (all observation columns will be shown, so make sure to clean your anndata
        before upload).</li>
    </ul>

    <h3> Genes (var) </h3>
    <ul>
      <li>Stored in <code>anndata.var</code> (all gene columns will be shown, so make sure to clean your anndata before
        upload).</li>
      <li> <b>Gene Symbols only</b></li>
    </ul>
    

    <h3>Spatial autocorrelation scores</h3>
    <ul>
      <li><strong>Moran's I</strong>: stored in <code>anndata.uns["moranI"]</code> as DataFrame with columns:
        <ul>
          <li><code>I</code></li>
          <li><code>pval_norm</code></li>
          <li><code>var_norm</code></li>
          <li><code>pval_norm_fdr_bh</code></li>
        </ul>
      </li>
      <li><strong>Geary's C</strong>: stored in <code>anndata.uns["gearyC"]</code> as DataFrame
        <ul>
          <li><code>C</code></li>
          <li><code>pval_norm</code></li>
          <li><code>var_norm</code></li>
          <li><code>pval_norm_fdr_bh</code></li>
        </ul>
      </li>
    </ul>

    <h3>Cluster relationship scores</h3>
    <p>'cluster' is the column in <code>anndata.obs</code> choosen as cluster to calculate the score</p>
    <ul>
      <li><strong>Centrality scores</strong>: stored in <code>anndata.uns["'cluster'_centrality_scores"]</code> as
        DataFrame with columns:
        <ul>
          <li><code>degree_centrality</code></li>
          <li><code>average_clustering</code></li>
          <li><code>closeness_centrality</code></li>
        </ul>
      </li>
      <li><strong>Co-occurrence probability</strong>: stored in <code>anndata.uns["'cluster'_co_occurrence"]</code> as
        dictionary with entries:
        <ul>
          <li><code>intervals</code>: interval boundaries, array of shape <code>(n_intervals - 1,)</code></li>
          <li><code>occ</code>: 3D array of shape <code>(n_clusters, n_clusters, n_intervals)</code> (Make sure to
            select the right <em>num_intervals</em> in Upload form)</li>
        </ul>
      </li>
      <li><strong>Neighborhood enrichment</strong>: stored in <code>anndata.uns["'cluster'_nhood_enrichment"]</code>
        as dictionary with entries:
        <ul>
          <li><code>counts</code>: array of shape <code>(n_clust, n_clust)</code></li>
          <li><code>zscore</code>: array of shape <code>(n_clust, nclust)</code></li>
        </ul>
      </li>
    </ul>

    <h3>Gene set scores</h3>
    <ul>
      <li><strong>Gene sets</strong>: stored in <code>anndata.uns["genie_genesets"]</code> and
        <code>anndata.uns["sponge_genesets"]</code> as dictionaries with format:
        <ul>
          <li><code>regulator</code>: <code>[gene1, gene2, ..., geneN]</code></li>
        </ul>
      </li>
      <li><strong>AUCell</strong>: stored in <code>anndata.obsm["aucell_scores_sponge|genie3"]</code> as DataFrames with
        regulators as columns.</li>
      <li><strong>GSVA</strong>: stored in <code>anndata.obsm["spongeffects_GSVA_scores_sponge|genie3"]</code> as
        DataFrames with regulators as columns.</li>
      <li><strong>ssGSEA</strong>: stored in <code>anndata.obsm["spongeffects_ssGSEA_scores_sponge|genie3"]</code> as
        DataFrames with regulators as columns.</li>
      <li><strong>Viper</strong>: stored in <code>anndata.obsm["viper_scores_genie3"]</code> as DataFrame with
        regulators as columns.</li>
    </ul>

    <h3>Tangram</h3>
    <ul>
      <li><strong>Cell type compositions</strong>: stored in <code>anndata.obsm["tangram_ct_pred"]</code> as DataFrame
        with cell types as columns.</li>
    </ul>

    <!-- <h3>ChromVAR score</h3> -->

    <h3>LIANA+ scores</h3>
    <ul>
      <li><strong>Ligand receptor relationships</strong>:
        <ul>
          <li><strong>Cosine similarity</strong>: stored in
            <code>anndata.obsm["ligand_receptor_cosine_similarity"]</code> as array of shape
            <code>(n_spots, n_interactions)</code>
          </li>
          <li><strong>P-value</strong>: stored in <code>anndata.obsm["ligand_receptor_p_value"]</code> as array of shape
            <code>(n_spots, n_interactions)</code>
          </li>
          <li><strong>Category</strong>: stored in <code>anndata.obsm["ligand_receptor_category"]</code> as array of
            shape <code>(n_spots, n_interactions)</code></li>
          <li><strong>NMF factors</strong>: stored in <code>anndata.obsm["ligand_receptor_NMF_factors"]</code> as
            DataFrame with factors as columns.</li>
          <li><strong>Global scores</strong>: stored in <code>anndata.uns["ligand_receptor_global_scores"]</code> as
            DataFrame with columns:
            <ul>
              <li><code>cosine_similarity_mean</code></li>
              <li><code>cosine_similarity_std</code></li>
              <li><code>ligand_receptor_morans</code>: Moran's R score</li>
            </ul>
          </li>
          <li><strong>Interaction names</strong>: stored in <code>anndata.uns["liana_columns"]["ligand_receptor"]</code>
            as array of shape <code>(n_interactions,)</code></li>
        </ul>
      </li>
      <li><strong>Cell type composition - TF activity similarity</strong>:
        <ul>
          <li><strong>Cosine similarity</strong>: stored in
            <code>anndata.obsm["cell_comp_tf_activity_cosine_similarity"]</code> as array of shape
            <code>(n_spots, n_interactions)</code>
          </li>
          <li><strong>Category</strong>: stored in <code>anndata.obsm["cell_comp_tf_activity_category"]</code> as array
            of shape <code>(n_spots, n_interactions)</code></li>
          <li><strong>Global scores</strong>: stored in <code>anndata.uns["cell_comp_tf_activity_global_scores"]</code>
            as DataFrame with columns:
            <ul>
              <li><code>cosine_similarity_mean</code></li>
              <li><code>cosine_similarity_std</code></li>
            </ul>
          </li>
          <li><strong>Interaction names</strong>: stored in
            <code>anndata.uns["liana_columns"]["cell_comp_tf_activity"]</code> as array of shape
            <code>(n_interactions,)</code>
          </li>
        </ul>
      </li>
      <li><strong>TF activity</strong>:
        <ul>
          <li><strong>ULM score</strong>: stored in <code>adata.obsm["tf_activity_score_ulm"]</code> as DataFrame with
            TFs as columns.</li>
          <li><strong>ULM p-adjusted value</strong>: stored in <code>adata.obsm["tf_activity_padj_ulm"]</code> as
            DataFrame with TFs as columns.</li>
        </ul>
      </li>
      <li><strong>Pathway activity</strong>:
        <ul>
          <li><strong>MLM score</strong>: stored in <code>adata.obsm["pathway_activity_score_mlm"]</code> as DataFrame
            with pathways as columns.</li>
          <li><strong>MLM p-adjusted value</strong>: stored in <code>adata.obsm["pathway_activity_padj_mlm"]</code> as
            DataFrame with pathways as columns.</li>
        </ul>
      </li>
    </ul>

    <h3>We furthermore use GRNs computed using sponge and genie3, both CSV-formatted.</h3>

    <h4>Genie:</h4>
    <pre class="codeblock"><code>regulatoryGene,targetGene,weight
FOXM1,KIF20A,0.06364686682258</code></pre>

    <h4>Sponge:</h4>
    <p>interaction network</p>
    <pre
      class="codeblock"><code>geneA,geneB,df,cor,pcor,mscor,p.val,p.adj
ENSG00000182141,ENSG00000258630,1,0.121684631317227,0.0764637550413806,0.0452208762758468,0.029426,0.519790968019617</code></pre>
    <p>network analysis</p>
    <pre class="codeblock"><code>gene,degree,eigenvector,betweenness,page_rank
ENSG00000158486,2383,0.198411022951078,4746.3198009264,4.10493693317117e-05</code></pre>
  </section>

  <section class="card">
    <h2>Explanation of the scores</h2>

    <h3>Squidpy scores</h3>
    <ul>
      <li>Spatial Autocorrelation scores</li>
      <ul>
        <li>Is the expression of a gene clustered in space or more randomly distributed?</li>
        <li>Moran's I (global correlation)</li>
        <li>Geary's C (local correlation)</li>
      </ul>
      <li>Cluster interaction scores</li>
      <ul>
        <li>How do clusters of cells interact with each other?</li>
        <li>Centrality scores</li>
        <ul>
          <li>How structurally important is each cluster is in the tissue 'network'?</li>
        </ul>
        <li>Neighborhood enrichment</li>
        <ul>
          <li>Do certain clusters tend to be neighbors more often than expected by chance?</li>
        </ul>
        <li>Co-occurrence probability</li>
        <ul>
          <li>How often do two clusters occur within a given radius?</li>
        </ul>
      </ul>
    </ul>
    <p>&nbsp;</p>
    <h3>Gene set scores</h3>
    <ul>
      <li>GSVA</li>
      <ul>
        <li>How are the genes in a gene set expressed compared to the rest of the genes?</li>
      </ul>
      <li>ssGSEA </li>
      <ul>
        <li>&nbsp;like GSEA on each sample individually</li>
        <li>Are the genes from this gene set enriched in this spot?</li>
      </ul>
      <li>AUCell</li>
      <ul>
        <li>How many genes of a gene set are highly expressed in this spot?</li>
      </ul>
      <li>VIPER</li>
      <ul>
        <li>How active is the regulator based on how active and coordinately regulated the target genes are?</li>
      </ul>
    </ul>
    <p>&nbsp;</p>


  </section>

  <section class="card" id="views-section">
    <h2>Views</h2>
    <p>Different views for the hexagon map can be selected through a dropdown menu.
      The views visualize different types of regulatory information as well as the observation columns of the anndata
    </p>
    <section id="gene-expression-view">
    <h3>Gene Expression View</h3>
    The user can visualize normalized gene expression for each spot in the map. A table
    appears underneath the main visualization, where rows represent genes, and autocor-
    relation scores such as Moran’s I or Geary’s C, along with p-values, are shown. Genes
    can be sorted by any column or filtered by name. Pressing the ”Show” button triggers
    a request to the backend that retrieves expression values for each spot and updates the
    main visualization.
    </section>
    <h3>Leiden Clustering View</h3>
    The Leiden clustering view has specific properties that allow the user to analyze differ-
    ent spatial transcriptomics scores that are determined based on the clustering and/or a
    nearest neighbor graph built on the spatial data. When you click on a spot, the whole
    cluster will be selected instead of just a single spot. In the side panel,
    the cell-type composition, number of spots in the cluster, neighborhood enrichment
    scores, and centrality scores of the cluster can be viewed.

    <h3>Regulatory Scores View</h3>
    To explore important regulatory modules in specific tissue areas, the user is provided
    with the regulatory scores view, which is also visible when the website is first loaded.
    To integrate the regulatory information into the spatial map, upon selection of a gene
    set of the GENIE3 or SPONGE network, different types of scores can be visualized
    on the map. These scores show the importance of the gene set in a spot and can be
    compared directly on the map, allowing for the identification of tissue regions where a
    specific regulatory module shows higher activity.

    <h3>LIANA+ Scores</h3>
    For the bivariate LIANA+ scores, a table containing the global scores, such as mean
    and standard deviation of the local cosine similarities or Moran’s R, appears below the
    main visualization. Each row has ”Show” buttons for fetching and visualizing
    either the local scores, p-values, or categories.
    The LIANA+ scores also contain the TF and pathway activity scores and p-values
    computed with decoupler’s univariate and multivariate linear model functions, respec-
    tively

    <h2> Unique features of the Views </h2>
    <h3>GeneSet Subgraphs</h3>
    In the <strong>Regulatory Scores View</strong> you are provided with a subgraph of the network that is based on
    the currently selected gene set in the geneset-dropdown menu. This subgraph is built from the geneset and the prefiltered
    GENIE3/Sponge network. After selecting all edges involving a gene set node, the edges are filtered for your weight/pvalue filter (slider above the graph).
    The MinEdges slider controls the size of the network by selecting the best MinEdges edges from the remaining network after filtering for your p-value/weight threshold.
    From these edges, the nodes and the real cutoff are inferred (if you have less nodes than MinEdges after filtering with weight/pvalue than cutoff will differ from what you selected in the slider).
    The parameter is called MinEdges,because the original edges of the nodes inferred from the best edges are re-added to the graph. So MinEdges essentially regulates the Number
    of Nodes by limiting the edges we take into account first and inferring the nodes from them. This ensures that the graph does not get too large but you can still assume that for a given all significant
    edges are displayed.
    <h3>Co-Occurrence-Table</h3>
    At the bottom of the <strong>Leiden-Cluster-View</strong>, the co-occurrence table will open, where the user can explore the
    co-occurrence of clusters in different bin-like intervals (default is 50 intervals).
    Therefore, this view does not just allow visualization of the clustering but also helps
    discover more complex patterns like how clusters of spots interact and whether they form
    organizational ’hubs’. This is specifically useful
    to understand tissue organization and how the cells in the spots act collectively.

  </section>



  <section class="card">
    <h2>Contact</h2>
    <p>
      For questions, suggestions or feedback, please contact
      <a href="mailto:annika.fomm@tum.de">annika.fomm(at)tum.de</a>
    </p>
  </section>


  <button (click)="goBack()" class="back-btn">← Back</button>
</div>
